*{
    padding: 20px;
    text-align: center;
    align-items: center;
    
}

body{
    background-color: rgb(68, 66, 66);
}

h1, p, h2 {
    color: white;
}

ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}

.card--main {
    display: flex;
    height: 300px;
    width: 400px;
}

.card{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.card--main img{
    height: 400px;
    width: 400px;
}


